.add-user
{
    border: none;
    border-radius: 6px;
    background-color: transparent;
    text-align: center;
    margin-right: 40%;
    margin-left: 30%;
    padding: 10px;
}
#num
{
    padding: 2px;
    padding-right: 3%;
    border-radius: 5px;
    border:2 px solid royalblue;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.ad{
    border: none;
    border-radius: 3px;
    padding: 4px;
    margin-left: 6px;
    background-color: royalblue;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.user{
    border: 1px solid black;
    padding:20px;
    margin-bottom: 8px;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 8px;
}
.user-name
{
    border: none;
    background-color: royalblue;
    border-radius: 6px;
    padding: 12px;
    color: white;
    font-weight: bold;
}
#chat
{
   border: none;
   float: right;
   background-color: black;
   border-radius: 6px;
   padding: 6px;
   color: white;
   font-weight: bold;
}

