.header{
    background-color: rgb(8, 7, 8);
    padding: 10px;
    display: flex;
}
.messenger
{
    color: white;
    font-size: 25px;
}
.popup{
    position: fixed;
    right: 10px;
    bottom: 10px;
   }
   .toast{
    background-color: rgb(226, 29, 29);
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding: 2rem;
    margin: 1rem;
   }

